h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #222;
}
html {
  background-color: #aee2d9;
}
body {
  background-color: #e9fbf8;
  background-image: -webkit-radial-gradient(50% 0, ellipse farthest-corner, #dbf5f1 0%, #9be4d8 100%);
  background-image: radial-gradient(ellipse farthest-corner at 50% 0, #dbf5f1 0%, #9be4d8 100%);
  overflow-x: hidden;
  font-family: Lato, "Microsoft YaHei", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.flex-col-1 {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}
.header.out {
  top: 7px;
}
.header {
  position: fixed;
  top: 13px;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: #000;
  transition: top 0.3s ease;
}
.header .color-bar.out {
  height: 7px;
}
.header .color-bar {
  position: fixed;
  top: 0;
  height: 13px;
  width: 100%;
  transition: height 0.3s ease;
}
.header .color-bar ul {
  margin: 0;
  padding: 0;
}
.header .color-bar ul .bar1 {
  background-color: #f12f25;
}
.header .color-bar ul .bar2 {
  background-color: #ff9531;
}
.header .color-bar ul .bar3 {
  background-color: #efd21f;
}
.header .color-bar ul .bar4 {
  background-color: #aec534;
}
.header .color-bar ul .bar5 {
  background-color: #24a5db;
}
.header .color-bar ul .bar6 {
  background-color: #5830cb;
}
.header .color-bar ul li {
  height: 100%;
  width: 16.6666%;
  float: left;
  list-style: none;
}
.header .header-wrapper {
  display: flex;
  width: 90%;
  max-width: 1000px;
  padding: 0 5px;
  height: 46px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .header-wrapper .blog-title {
  display: flex;
}
.header .header-wrapper .blog-title .logo {
  width: 32px;
  height: 32px;
}
.header .header-wrapper .blog-title .title {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
}
.header .header-wrapper .navbar-menu {
  color: #d0648a;
}
.header .header-wrapper .navbar {
  min-height: 0;
  margin: 0;
}
.header .header-wrapper .navbar .container-fluid .navbar-header .navbar-toggle {
  margin: 0;
  border: 1px solid #fff;
  padding: 7px 6px;
}
.header .header-wrapper .navbar .container-fluid .navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}
.header .header-wrapper .navbar .menu {
  margin: 0;
  padding: 0;
  float: left;
}
.header .header-wrapper .navbar .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
}
.header .header-wrapper .navbar .menu .menu-item i {
  width: 30px;
  height: auto;
  text-align: center;
}
.header .header-wrapper .navbar .menu .menu-item-link {
  text-decoration: none;
  transition: color 0.5s ease;
  color: #ccc;
}
.header .header-wrapper .navbar .menu .menu-item-link:hover {
  color: #ffd700;
}
.nav-collapse {
  left: 0;
  background-color: #000;
  width: 100%;
  transition: top 0.3s ease;
  border-top: 3px dashed #ffd700;
}
.nav-collapse .menu-mobile {
  padding: 0;
  width: 90%;
  margin: 0 auto;
  min-height: 30px;
}
.nav-collapse .menu-mobile .menu-item {
  display: block;
}
.nav-collapse .menu-mobile .menu-item a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.5s ease;
  line-height: 30px;
}
.nav-collapse .menu-mobile .menu-item a i {
  width: 30px;
  text-align: center;
}
.nav-collapse .menu-mobile .menu-item a span {
  padding: 0 20px;
}
.nav-collapse .menu-mobile .menu-item a:hover {
  color: #ffd700;
}
@media (min-width: 768px) {
  .menu-pc {
    display: block;
  }
}
@media (max-width: 767px) {
  .menu-pc {
    display: none;
  }
}
.main {
  width: 100%;
  margin: 0 auto;
}
.main .banner {
  width: 100%;
  height: 400px;
}
.main .content {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}
.post {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
}
article h2.title {
  margin-bottom: 0.25em;
  font-size: 2rem;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
  margin-bottom: 30px;
}
article h3 {
  font-weight: bold;
  margin: 0;
}
article p {
  font-size: 14px;
}
article table {
  border: 1px solid #eee;
  border-collapse: collapse;
}
article table th {
  padding: 8px;
  border: 1px solid #ddd;
  line-height: 20px;
  vertical-align: middle;
}
article table td {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ddd;
  line-height: 20px;
  vertical-align: middle;
}
article table tbody tr:nth-child(2n) {
  background-color: #fafafa;
}
.highlight {
  background: #fafafa;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  overflow: auto;
  color: #ccc;
}
pre,
xmp,
plaintext,
listing {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
table {
  font-weight: 400;
}
.gutter pre {
  color: #666;
}
.gutter {
  font-size: 90%;
}
.code {
  padding: 2px 4px;
  font-size: 90%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #f9f9f9;
  border-radius: 3px;
}
.gutter pre {
  text-align: right;
  padding-right: 20px;
}
.highlight pre {
  overflow-x: auto;
  font-size: 13px;
  color: #777;
  background-color: #fafafa;
  white-space: pre;
  word-wrap: normal;
  border: 0;
  font-family: monospace;
}
.highlight table {
  margin: 0;
  width: auto;
  border: 0;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight td .line {
  line-height: 1.5;
  font-weight: 400;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag .name,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #2f6f9f;
}
pre .tag .attr {
  color: #4f9fcf;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #0a8;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #d44950;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #2f6f9f;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
